/* Hide top toolbar of neo affils */
.brand-mamabar {
  display: none;
}
/* Auto stock option container div */
.auto-buy {
  float: left;
  height: 27px;
  margin-top: 13px;
  margin-left: 90px;
  padding-right: 21px;
}

/* label width */
.auto-buy .switch .switch-label {
  width: 94px;
}

/* Quick price option container div */
.quick-price {
  float: left;
  height: 27px;
  margin-top: 13px;
  margin-left: 107px;
  padding-right: 23px;
}
.quick-price .switch .switch-label {
  width: 114px;
}


/* Shop bot settings */
.shop-bot {
  float: left;
  height: 27px;
  margin-top: 13px;
  margin-left: 76px;
  margin-right: -45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}
.shop-bot a {
  margin-right: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}
.shop-bot a:hover {
  color: #ffdd00;
}
.shop-bot input {
  width: 30px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #fff;
  background: transparent;
}
/* Shop bot settings */


/* Items items link*/
.ignore-items-link {
  float: left;
  height: 27px;
  /* Shove down the boxes for items and shops */
  padding-bottom: 20px;
  margin-top: 13px;
  margin-left: 76px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.ignore-items-link a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.ignore-items-link a:hover {
  color: #6ba94b;
}

/* Active Ignore items toggle link */
.ignore-items-link.active a {
  color: #6ba94b;
  border-bottom: 2px solid #6ba94b;
}

/* Active Ignore items toggle link hover */
.ignore-items-link.active a:hover {
  color: #f93e58 !important;
  border-bottom: 2px solid #f93e58 !important;
}

/* Link to show all the shops */
.shops-list-link {
  float: left;
  margin-top: 13px;
  margin-left: 76px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}
.shops-list-link a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.shops-list-link a:hover {
  font-weight: #6ba94b;
}

/* Active Shops list toggle link */
.shops-list-link.active a {
  color: #6ba94b;
  border-bottom: 2px solid #6ba94b;
}

/* Active Shops list toggle link hover */
.shops-list-link.active a:hover {
  color: #f93e58 !important;
  border-bottom: 2px solid #f93e58 !important;
}


/* Shops list */
.shops-list {
  overflow: auto;
  /* Hide to fade it in */
  display: none;
  width: 97.5%;
  height: auto;
  
  margin: 0 auto 15px;
  border: 1px solid #888
}

.shops-list.active {
  display: block;
}


.shops-list ul {
  overflow: auto;
  padding-left: 15px;
  margin-top: 15px;
  list-style: none;
}

/* Space out shop list in columns */
.shops-list ul li {
  float: left;
  width: 18%;
  min-width: 212px;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

/* Active shop is higlighted */
.shops-list ul li.active {
  color: #6ba94b;
  font-weight: 600;
}

/* Hovering on a span will highlight the shop green to add */
.shops-list ul li span:hover {
  cursor: pointer;
}

/* Hovering on an active span will highlight the shop red to remove */
.shops-list ul li.active span:hover {
  color: #f93e58;
  cursor: pointer;
}


/* Prevent single items from wrapping */
.shops-list ul li input {
  font-weight: 500;
}


/* Ignore Items box */
.ignore-items-box {
  overflow: auto;
  /* Hide to fade it in */
  display: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ignore-items-box.active {
  display: block;
}

.ignore-items-box form {
  margin: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.ignore-items-box form textarea {
  width: 98.8%;
  height: 225px;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: .5px;
  word-spacing: 1px;
  color: #fff;
  background: transparent;
}

.ignore-items-box input[type="submit"] {
  float: right;
  margin: 0;
  margin-right: 2px;
  margin-bottom: 10px;
  padding: 3px 9px 4px 8px;
  background-color: rgba(255,255,255,0.09);
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid inset rgba(255,255,255,0.79);
}


/* Neocoin toolbar */
.neocoin-bar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 5px;
  background: rgba(0,0,0,0.90);
  color: #fff;
  font-weight: 600;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 99999;
  /* Inactive unless classed */
  width: 70px;
  height: 50px;
  overflow: hidden;
  background-color: transparent;
}

/* Active mode */

.neocoin-bar.active {
  width: 100%;
  height: auto;
  overflow: visible ;
  background-color: rgba(0,0,0,0.90);
}

.neocoin-bar img {
  position: fixed;
}

/* START IOS STYLE SWITCH */

/* Prevent highlighting */
.switch { 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* The text label for the switch */
.switch .switch-label{
	position: absolute;
	right: 90%;
	bottom: -1px;
  width: 120px;
	margin-right: 15px;
	font-size: 22px;
	font-weight: 300;
  text-align: right;
}
.switch {
	float: left;
	position: relative;
	bottom: 1px;
	left: 90px;
	height: 23px;
	width: 65px;
	margin-top: 5px;
	margin-right: 15px;
	border: 1px solid #B6B6B6;
	border-radius: 20px;
	font-size: 20px;
	box-shadow: inset 0 1px 3px #BABABA, inset 0 12px 3px 2px rgba(232, 232, 232, 0.5);
	cursor: pointer;
}
/* Switch toggled element */
.switch::before {
	content: "";
	display: block;
	height: 23px;
	width: 0px;
	position: absolute;
	border-radius: 20px;
	box-shadow: inset 0 1px 2px #000, inset 0 12px 3px 2px rgba(200, 200, 200, 0.5);
	background-color: #fff;
}
/* Active switch toggled element */
.switch.active::before {
	width: 65px;
}
		
/* Hide checkbox inside the switch */
.switch input[type=checkbox] {
	display: none;
}
/* Switch toggle button */
.switch > .thumb {
	display: block;
	width: 21px;
	height: 21px;
	position: relative;
	top: 0;
	z-index: 3;
	border: solid 1px #B6B6B6;
	border-radius: 28px;
	font-size: .855em ;
	font-weight: 400;
	box-shadow: inset 0 2px 1px white, inset 0 -2px 1px white;
	background-color: #E6E6E6;
	background-image: linear-gradient(top, #CECECE, #FBFBFB);
			
	-webkit-transition: all 0.125s ease-in-out;
	-moz-transition: all 0.125s ease-in-out;
	-o-transition: all 0.125s ease-in-out;
	-ms-transition: all 0.125s ease-in-out;
	transition: all 0.125s ease-in-out;
			
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
		
/* Active switch toggle button */
.switch.active > .thumb {

	-webkit-transform: translate3d(42px,0,0);
	-moz-transform: translateX(42px);
	-o-transform: translateX(42px);
	-ms-transform: translateX(42px);
	transform: translateX(42px);
}
/* Hide the "Off" text when active */
.switch.active > .thumb::after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: 0s ease-in;
	-moz-transition: 0s ease-in;
	-o-transition: 0s ease-in;
	-ms-transition: 0s ease-in;
	transition: 0s ease-in;
}
/* Show the "On" text when active */
.switch.active > .thumb::before {
	visibility: visible;
	opacity: 1;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	-ms-transition: .3s ease-in;
	transition: .3s ease-in;
}
		
/* On / Off text indicators */
.switch > .thumb::before {
	content: "On";
	display: block;
	position: absolute;
	top: 0;
	left: -30px;
	text-shadow: 0.03em 0.03em 0.07em #333333;
	visibility: hidden;
	opacity: 0;
  color: #444;
	-webkit-transition: 0s ease-in;
	-moz-transition: 0s ease-in;
	-o-transition: 0s ease-in;
	-ms-transition: 0s ease-in;
	transition: 0s ease-in;
}
/* On / Off text indicators */
.switch > .thumb::after {
	content: "Off";
	display: block;
	position: absolute;
	top: 0;
	right: -30px;
	color: #fff;
	text-shadow: 0.03em 0.03em 0.07em #737373;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	-ms-transition: .3s ease-in;
	transition: .3s ease-in;
}
		
/* Inactive (unlocked) */
.content ul li div.switch {
	visibility: hidden;
	opacity: 0;
}
		
/* Active (unlocked) */
.content ul li.unlocked div.switch {
	visibility: visible;
	opacity: 1;
}
		
/* END iOS style switch */
